page-page1 {

}

page-sliding-item {
  img {
    max-width: 10.6rem !important;
    max-height: 10.6rem !important;
  }
}

.item-content {
  background-color:palegreen;
}

page-button-styles {}

ion-app._gmaps_cdv_ .nav-decor{
background-color: transparent !important;
}

.mapHome {

#map {
	height: 50%;
     width:  100%;
     }
}


.center{

       text-align:center;

}